<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="G:\\PleskVhosts\\nekfa.com\\rate-tax-api.nekfa.com\Log\internallog.txt">

  <targets>
    <target name="logfile" xsi:type="File"
          fileName="G:\\PleskVhosts\\nekfa.com\\rate-tax-api.nekfa.com\Log\${shortdate}_rate_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>

<!--C:\Users\sameera.w\Desktop\VIBPL_EBPF_API\VIBPL_EBPF_API\ErrorLogFile.log"-->