<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="api_rate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Test Database  -->
    <add name="VGVzdFVDLzE=" connectionString="Host=182.50.133.92; UserName=nekfatest; Port=3306;  Password=Z^v68k1n; Database=nekfa_test; Convert Zero Datetime=True" />
    <!-- End of the Test Database -->
    <add name="DB_Details" connectionString="Host=182.50.133.92; UserName=nekfa; Port=3306;  Password=Msdh@7#8; Database=key_database" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="1.0.0" />
    <add key="PurchaseCurrency" value="144" />
    <add key="PurchaseCurrencyExponent" value="2" />
    <add key="PurchaseCurrencyExponent" value="144" />
    <add key="SignatureMethod" value="SHA1" />
    <add key="FromEmail" value="no-reply@onlineservices.com" />
    <add key="Mailcontact" value="0112 236 297" />
    <!--contct number for email-->
    <add key="SecurityKey" value="224@24as980#!7#^6932" />
    <add key="TokenExpiryHours" value="24" />
    <add key="origin" value="http://localhost,https://payment.kaduwela.mc.gov.lk,https://lgsweb.nekfa.com,https://wattala.ps.gov.lk,https://www.wattala.uc.gov.lk,https://www.ps.jaela.ps.gov.lk,https://jaela.uc.gov.lk,https://payment.galle.mc.gov.lk,https://www.boralesgamuwa.uc.gov.lk,https://www.kesbewa.uc.gov.lk,https://panadura.uc.gov.lk,https://kotikawattamulleriyawa.ps.gov.lk,https://gampaha.mc.gov.lk,https://minuwangoda.ps.gov.lk,https://kelaniya.ps.gov.lk" />
    <!--Colombo, Sri Lanka is 12 hours and 30 minutes ahead of Los Angeles, USA-->
    <add key="TimeDifference" value="+12.30" />
    <!-- Values > "1" for True, "0" for false-->
    <add key="SMSSending" value="1" />
    <!--Email Settings-->
    <add key="fromPassword" value="Nekfa@2020" />
    <add key="Host" value="relay-hosting.secureserver.net" />
    <add key="Port" value="25" />
    <add key="EnableSsl" value="true" />
    <!--User Login-->
    <add key="UsrLogin" value="sign-in.html?type=Photoshoot" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <api_rate.Properties.Settings>
      <setting name="api_rate_com_nekfa_service_sms_NekfaSMS_API" serializeAs="String">
        <value>http://sms.service.nekfa.com/NekfaSMS_API.asmx</value>
      </setting>
      <setting name="api_boutique_com_nekfa_service_sms_NekfaSMS_API" serializeAs="String">
        <value>http://sms.service.nekfa.com/NekfaSMS_API.asmx</value>
      </setting>
    </api_rate.Properties.Settings>
  </applicationSettings>
</configuration>